@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

.form {
  width: 40%;
  background: #fbaf32;
}

.form .container-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form input {
  height: 45px;
  font-size: 14px;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 5px !important;
  border: 1px solid #ffffff;
  background: transparent;
  width: 100%;
  margin: 0.5rem 1rem;
}

.form .container-input:nth-of-type(1) {
  margin-top: 3rem;
}

.form input::placeholder {
  color: #fff;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.form button {
  width: 93%;
  height: 45px;
  color: #fbaf32;
  padding: 0 15px;
  border-radius: 5px !important;
  background: #fff;
  border: 1px solid #ffffff;
  margin: 0 0.5rem 3rem 0.5rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.form button:hover {
  background: transparent;
  color: #fff;
}
