.container-register {
  display: flex;
  justify-content: space-between;
  background: #242424;
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
}

/* Intro */
.intro {
  position: relative;
  text-align: start;
  color: #fff;
  margin: 8em 0 0 6em;
}

/* Card */
.card {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.753);
  margin: 7em 6em 0 0;
  height: 34em;
}

.signup,
.login {
  background: #fbaf32;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  margin-top: 0;
}

.section {
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}
